[submodule "st"]
	path = st
	url = https://github.com/unix-supremacist/st
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/unix-supremacist/dmenu
[submodule "aureate"]
	path = aureate
	url = https://github.com/unix-supremacist/aureate
[submodule "nsxiv"]
	path = nsxiv
	url = https://github.com/unix-supremacist/nsxiv
